<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css" media="screen">
        body{
               background-image: url("static/admin.jpeg");
               }
    </style>
</head>
<body>
<div class="lbody">
    <div class="student" align="center" style="margin-top: 200;">

    <div class="form3" align="center" style="background-color: green; align: center; max-width: 700px;">
        <h1></h1>
   <form method ="post" id = "form">


       <label style="color: orange; font-size: 24px;"><i><b>Password reset</b></i></label>
        <div class ="form-group" align="center">
            <label style="color: orange; font-size: 24px;">Enter username</label><br>
            <input type="text" id="username" name="username" style="color: black; font-size: 24px;">
            <br>
            <label style="color: orange; font-size: 24px;">Enter old password</label><br>
            <input type="password" id="password" name="password" style="color: black; font-size: 24px;">
            <br>
            <label style="color: orange; font-size: 24px;">Enter new password</label><br>
            <input type="password" id="password2" name="password2" style="color: black; font-size: 24px;">
            <br><br>
            <input type="submit" class="btn btn-primary" id="homeb" name="homeb" value="Reset"
            style="color: white; font-size: 24px; background-color: grey;">>
        </div>
    </form>
        </div>
    </div>
    </div>

</body>


</html>