<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css" media="screen">
        body{
               background-image: url("static/admin.jpeg");
               }
    </style>
</head>

<body>
<div class="student" align="center" style="margin-top: 200;">

<div class="form3" align="center" style="background-color: grey; align: center; max-width: 700px;">
    <h3 align="center"></h3>
   <form method ="post" id = "form">
      <h3 align="center"style="color: yellow; font-size: 24px;">Admin login</h3>
        <div class ="form-group" align="center">
            <label for ="username" style="color: orange; font-size: 24px;" ><b><i>Enter Username</i></b></label>
            <br>
            <input type="text" class="form-control" name="username" id="username" required style="color: black; font-size: 24px;"/>
            <br>
             <label for ="password" style="color: orange; font-size: 24px;"><b><i>password</i></b></label>
            <br>
            <input type="password" class="form-control" name="password" id="password" required style="color: black; font-size: 24px;"/>
            <br>
            <br>
            <input type ="submit" value="Login" class="btn btn-primary" name="login"style="color: white; font-size: 24px; background-color: grey;">
            <input type="submit" name="homeb" id="homeb" value="Reset Password" class="btn btn-primary">
        </div>
    </form>
    </div>
</div>

</body>

    </html>
