{% extends "base.html"%} {% block title%}this is home{% endblock %}
<body>{% block content %}
<div class="student">
<div class="main">
    <nav class="navbarr">
  <a class="navbar-brand" href="#"></a>
    <ul class="navbar-nav">
        <label>Lecture Evaluation</label>
       <a class="nav-link" href="#">About</a>
    </ul>
</nav>
    </div>

 <h3>Ensure you follow through with the guidelines</h3>
<form method="POST">
    <div class="card">
        <br>

          {{ form.hidden_tag() }}
        <h4 align="center"><input type="text" value="{{t[0][0]}}" id="lecturer1" name="lecturer1" style="border: none; color: blue; font-size: 24px;" readonly>
            <input type="text" value="{{l[0][3]}}" id="unit3" name="unit3" style="border: none; color: blue; font-size: 24px;" readonly>
        <input type="hidden" value="{{t[0][1]}}" id="id1" name="id1"  readonly></h4>
    <ol><li>
         <input type="hidden" value="{{l[0][4]}}" id="sque1" name="sque1" style="border: none; color: blue; font-size: 24px;" readonly>
        {{ form.que1.label }}
          {{ form.que1() }}
        </li>
    <br><li>
            <input type="hidden" value="{{j[0][4]}}" id="rque1" name="rque1" style="border: none; color: blue; font-size: 24px;" readonly>
           {{form.radio1.label }}
          {{ form.radio1() }}
            </li>
    <br>
        <li>
            <input type="hidden" value="{{p[0][4]}}" id="tque1" name="tque1" style="border: none; color: blue; font-size: 24px;" readonly>
          {{form.querry1.label }}
            <br>
          {{ form.querry1() }}
            </li>
        <li>
            <input type="hidden" value="{{a[0][1]}}" id="tque4" name="tque4" style="border: none; color: blue; font-size: 24px;" readonly>
          {{form.querry4.label }}
            <br>
          {{ form.querry4() }}
            </li><li>
            <input type="hidden" value="{{a[0][2]}}" id="tque7" name="tque7" style="border: none; color: blue; font-size: 24px;" readonly>
          {{form.querry7.label }}
            <br>
          {{ form.querry7() }}
            </li>
        <li>
            <input type="hidden" value="{{u[0][1]}}" id="tque5" name="tque5" style="border: none; color: blue; font-size: 24px;" readonly>
          {{form.querry5.label }}
            <br>
          {{ form.querry5() }}
            </li>
        <li>
            <input type="hidden" value="{{h[0][1]}}" id="tque6" name="tque6" style="border: none; color: blue; font-size: 24px;" readonly>
          {{form.querry6.label }}
            <br>
          {{ form.querry6() }}
            </li>
        </ol>
        <br>
        </div>
    <br>
    <div class="card" >
   <br>
        <h4 align="center"><input type="text" value="{{t[1][0]}}" id="lecturer2" name="lecturer2" style="border: none; color: orange; font-size: 24px;" readonly>
            <input type="text" value="{{l[1][3]}}" id="unit4" name="unit4" style="border: none; color: orange; font-size: 24px;" readonly>
        <input type="hidden" value="{{t[1][1]}}" id="id2" name="id2"  readonly></h4>
    <br><ol><li>
        <input type="hidden" value="{{l[1][4]}}" id="sque2" name="sque2" style="border: none; color: blue; font-size: 24px;" readonly>
          {{form.select2.label }}
          {{ form.select2() }}
    </li>
    <br><li>
            <input type="hidden" value="{{j[1][4]}}" id="rque2" name="rque2" style="border: none; color: blue; font-size: 24px;" readonly>
           {{form.radio2.label }}
          {{ form.radio2() }}
        </li>
    <br><li>
            <input type="hidden" value="{{p[1][4]}}" id="tque2" name="tque2" style="border: none; color: blue; font-size: 24px;" readonly>
          {{form.querry2.label }}
            <br>
          {{ form.querry2() }}
    </li>
        <li>
            <input type="hidden" value="{{a[1][1]}}" id="tque42" name="tque42" style="border: none; color: blue; font-size: 24px;" readonly>
          {{form.querry42.label }}
            <br>
          {{ form.querry42() }}
            </li>
        <li>
            <input type="hidden" value="{{a[1][2]}}" id="tque72" name="tque72" style="border: none; color: blue; font-size: 24px;" readonly>
          {{form.querry72.label }}
            <br>
          {{ form.querry72() }}
            </li>
        <li>
            <input type="hidden" value="{{u[1][1]}}" id="tque52" name="tque52" style="border: none; color: blue; font-size: 24px;" readonly>
          {{form.querry52.label }}
            <br>
          {{ form.querry52() }}
            </li>
        <li>
            <input type="hidden" value="{{h[1][1]}}" id="tque62" name="tque62" style="border: none; color: blue; font-size: 24px;" readonly>
          {{form.querry62.label }}
            <br>
          {{ form.querry62() }}
            </li>

    </ol>
     </div>
    <div class="card" align="center">
    <input type="submit" name="submit" id="name" value="submit" >
    <h6><h1>log date friday 28 july 2023</h1></h6>
        </div>
    </form>
       </div>


{% endblock %}
</body>