{% extends "base.html"%} {% block title%}this is home{% endblock %}
<body >{% block content %}

<div class="body" style="background-color: grey;">
 <div class="main">
    <nav class="navbarr">
  <a class="navbar-brand" href="#"></a>
    <ul class="navbar-nav">
        <label>Lectures Management</label>
        <a class="nav-link" href="/reports">Reports</a>
        <a class="nav-link" href="/students">Students</a>
        <a class="nav-link" href="/courses">Courses</a>
       <a class="nav-link" href="/forms">Forms</a>
    </ul>
</nav>
    </div>

    <h1>lecture Management module</h1>
   <form method ="post" id = "form">
     <div class="card">
         {{ form.hidden_tag() }}
        <table border="2" style="width: 100%;">
          <tr>
              <th colspan="4" bgcolor="grey" style="color: blue; background-color: orange;"><h3>Lectures list</h3></th>
              <tr/>
            <tr>
            <td>lecture name</td>
            <td>Lecture ID</td>
            <td>School</td>
            <td>units</td>

          </tr>
            {% for lecture in lectures %}
              {% with i=loop.index0 %}
           <tr>

            <td >{{ lectures[i][0] }}</td>
            <td>{{ lectures[i][1] }}</td>
            <td>{{ lectures[i][2] }}</td>
            <td>{{ lectures[i][3] }} {{ lectures[i][4] }}</td>

          </tr>
            {% endwith %}
            {% endfor %}

             <tr>
                 <td colspan="4" style="color: blue; background-color: orange;"><H3 align="center">Register new lecture</H3></td>
             </tr>

             <tr>
                 <td>{{ form.p() }}</td>
                 <td>{{ form.p1() }}</td>
                 <td>{{ form.p3() }}</td>
                 <td>{{ form.p6() }}{{ form.p4() }}<input type="submit" value = "Add" name="add" id="add" align="centre" class="btn btn-primary"></td>
                 <td></td>
             </tr>
             <tr>
                 <td colspan="4" style="color: blue; background-color: orange;"><H3 align="center">Remove Lecture</H3></td>
             </tr>
            <tr >
                <td colspan="3" align="center">Enter lecture ID  <input type="text" id="lid" name="lid"> </td>
                <td align="right"><input type="submit" value = "Remove" name="remove" id="remove" align="centre" class="btn btn-primary"></td>
            </tr>
         </table>
        </div>
    </form>
</div>
{% endblock %}
</body>